.card {
  width: 540px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.card__list-item {
  font-family: "Noto Serif", 'Times New Roman', serif;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

