.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  margin: 100px auto;
  background-size: cover;
  background-position: center;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 100px;
  text-align: center;
  font-family: "Noto Serif",'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 100px;
}


